body {
  background-color: #C1F4C5;
}
h1 {
  color: #4E944F;
}
h3 {
  color: #4E944F;
}
hr {
  border-style: dotted none none;
  border-color: grey;
  border-width: 5px;
  width: 3%;
}
img {
  height: 250px;
}
